@import '~sass-material-design-colors/palette.scss';

.page-header {
  background-color: white;
  height: 51px;
  position: fixed;
  top: 0;
  border-bottom: $grey-300 solid 1px;
  margin: 0;
  width: calc(100% - 200px);
}

input {
  border-radius: 2em;
  background-color: #EFF3F6;
  border: none;
  padding: 4px 16px;
  &:focus {
    outline: none;
    width: 100%;
  }
}
