@import '~sass-material-design-colors/palette.scss';

.page-header {
  background-color: #263238;
  height: 51px;
  position: fixed;
  top: 0;
  border-bottom: $grey-300 solid 1px;
  margin: 0;
  width: calc(100% - 200px);
}

input {
  border-radius: 0.2em;
  background-color: #263238;
  border: 1px solid $grey-600;
  padding: 4px 16px;
  color: white;
  &:focus {
    outline: none;
  }
}
