@import '../../../assets/styles/variables';
@import '../../../../node_modules/sass-material-design-colors/palette';

#banner {
  background-color: white;
  padding: 4px 15px;
  border-bottom: 1px solid $grey-300;
  position: fixed;
  top: 50px;
  right: 0;
  left: 200px;
}

#name {
  font-size: 1.25em;
}

.vertical-divider {
  border-left: 1px solid $grey-300;
  height: 20px;
  width: 1px;
}
