<app-page-header></app-page-header>
<app-patient-banner [patient]="patient"></app-patient-banner>

<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Diagnoses
          <a href="#" class="float-right">edit</a>
        </div>
        <div class="card-body">
          AIDS
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Allergies
          <a href="#" class="float-right">edit</a>
        </div>
        <div class="card-body">
          Allergy status not recorded.
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-3">
      <ng-container *ngIf="identityEditing; then editIdentity else viewIdentity"></ng-container>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Medications
          <a href="#" class="float-right">edit</a>
        </div>
        <div class="card-body">
          No medications recorded.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <ng-container *ngIf="contactEditing; then editContact else viewContact"></ng-container>
    </div>
  </div>
</div>

<ng-template #editContact>
  <div class="card">
    <div class="card-header">
      Editing Contact
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="mobilePhone">Mobile</label>
          <input id="mobilePhone" name="mobilePhone" class="form-control" [(ngModel)]="patient.mobilePhone.value"/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" class="form-control" [(ngModel)]="patient.email.value">
        </div>
      </form>
      <div class="d-flex flex-row mb-2 mt-2">
        <button class="btn btn-sm btn-primary mr-2">Save</button>
        <button class="btn btn-sm btn-secondary" (click)="contactEditing = false">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #viewContact>
  <div class="card">
    <div class="card-header">
      Contact
      <a [routerLink]="" (click)="contactEditing = true" class="float-right">edit</a>
    </div>
    <div class="card-body">
      <div class="form-row view-row">
        <label for="mobile-view" class="col-sm-3 col-form-label">Mobile</label>
        <div class="col-sm-9">
          <input id="mobile-view" type="text" readonly class="form-control-plaintext"
                 value="{{patient?.mobilePhone.value}}"/>
        </div>
      </div>
      <div class="form-row view-row">
        <label for="email-view" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input id="email-view" type="text" readonly class="form-control-plaintext" value="{{patient?.email.value}}">
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editIdentity>
  <div class="card">
    <div class="card-header">
      Editing Identity
    </div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="title">Title</label>
            <input id="title" name="title" class="form-control" [(ngModel)]="patient.title"/>
          </div>
          <div class="form-group col-md-8">
            <label for="givenName">Given Names</label>
            <input id="givenName" name="givenNames" class="form-control"
                   [(ngModel)]="patient.givenNames"/>
          </div>
        </div>
        <div class="form-group">
          <label for="familyName">Family Name</label>
          <input id="familyName" name="familyName" class="form-control"
                 [(ngModel)]="patient.familyName"/>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="birthday">Birthday</label>
            <input id="birthday" name="birthday" class="form-control" [ngModel]="patient?.birthday" (ngModelChange)="patient.birthday = $event"/>
          </div>
          <div class="form-group col-md-6">
            <label for="genderEdit">Gender</label>
            <input id="genderEdit" name="genderEdit" class="form-control"/>
          </div>
        </div>
      </form>
      <div class="d-flex flex-row mb-2 mt-2">
        <button class="btn btn-sm btn-primary mr-2" (click)="savePatient()">Save</button>
        <button class="btn btn-sm btn-secondary" (click)="identityEditing = false">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #viewIdentity>
  <div class="card">
    <div class="card-header">
      Identity
      <a [routerLink]="" (click)="identityEditing = true" class="float-right">edit</a>
    </div>
    <div class="card-body">
      <div class="form-row no-gutters view-row">
        <label for="name" class="col-form-label col-sm-3">Name</label>
        <div class="col-sm-9">
          <input id="name" type="text" readonly class="form-control-plaintext" value="Blake Mumford"/>
        </div>
      </div>
      <div class="form-row no-gutters view-row">
        <label for="dob" class="col-sm-3 col-form-label">Birthday</label>
        <div class="col-sm-9">
          <input id="dob" type="text" readonly class="form-control-plaintext" value="{{patient?.birthday | date: 'dd/MM/yyyy'}}"/>
        </div>
      </div>
      <div class="form-row no-gutters view-row">
        <label for="gender" class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-9">
          <input id="gender" type="text" readonly class="form-control-plaintext" value="Male"/>
        </div>
      </div>
    </div>

  </div>
</ng-template>
