<div class="d-flex flew-row align-items-center mb-2 mt-5">
  <div class="section-primary mr-3">Identity</div>
  <div class="action-icon" [inlineSVG]="'assets/svg/sprites.svg#edit'" (click)="editIdentityInfo()" placement="top"
       ngbTooltip="Edit identity"></div>
</div>
<ng-container *ngIf="identityEditing; then editIdentity else viewIdentity"></ng-container>

<ng-template #editIdentity>
  <div class="card">
    <div class="card-body">
      <form #identityForm="ngForm" (ngSubmit)="saveIdentityInfo(identityForm)" class="edit-form">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="title">Title</label>
            <input id="title" name="title" class="form-control" [(ngModel)]="titleString"/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="givenName">Given Names</label>
            <input id="givenName" name="givenNames" class="form-control"
                   [(ngModel)]="givenNamesString"/>
          </div>
          <div class="form-group col-md-6">
            <label for="familyName">Family Name</label>
            <input id="familyName" name="familyName" class="form-control"
                   [(ngModel)]="familyNameString"/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="preferredName">Preferred Name</label>
            <input id="preferredName" name="preferredName" class="form-control"/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="birthday">Birthday</label>
            <input id="birthday" name="birthday" class="form-control" [(ngModel)]="birthDateString"/>
          </div>
          <div class="form-group col-md-6">
            <label for="genderEdit">Gender</label>
            <select id="genderEdit" name="genderEdit" class="form-control" [(ngModel)]="genderString">
              <option *ngFor="let gender of genderOptions" [ngValue]="gender">{{gender}}</option>
            </select>
          </div>
        </div>
        <div class="d-flex flex-row mt-2">

          <button class="save-btn" type="submit">Save</button>
          <button class="cancel-btn" (click)="identityEditing = false">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #viewIdentity>
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-row align-items-center">
        <div *ngIf="patient?.gender == 'Male'" class="face-sheet-icon mr-2"
             [inlineSVG]="'assets/svg/sprites.svg#user-male'"></div>
        <div *ngIf="patient?.gender == 'Female'" class="face-sheet-icon mr-2"
             [inlineSVG]="'assets/svg/sprites.svg#user-female'"></div>
        {{patient?.title + ' ' + patient?.givenNames + ' '+ patient?.familyName}}
      </div>
      <div class="d-flex flex-row align-items-center">
        <div class="face-sheet-icon mr-2" [inlineSVG]="'assets/svg/sprites.svg#cake'"></div>
        {{patient?.birthDate|date:'dd MMMM yyyy'}}
      </div>
      <div class="d-flex flex-row align-items-center">
        <div *ngIf="patient?.gender == 'Female'" class="face-sheet-icon mr-2" [inlineSVG]="'assets/svg/sprites.svg#female'"></div>
        <div *ngIf="patient?.gender == 'Male'" class="face-sheet-icon mr-2" [inlineSVG]="'assets/svg/sprites.svg#male'"></div>
        {{patient?.gender}}
      </div>
    </div>
  </div>
</ng-template>
