<app-page-header pageTitle="{{pageTitle}}"></app-page-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          Basic
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <label for="title">Title</label>
                  <select id="title" name="title" class="form-control" [(ngModel)]="newPatient.title"></select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="givenNames">Given Names</label>
              <input id="givenNames" name="givenNames" class="form-control" required
                     [(ngModel)]="newPatient.givenNames" #givenNames="ngModel"/>
              <small [hidden]="givenNames.valid || givenNames.pristine">A given name is required.</small>
            </div>
            <div class="form-group">
              <label for="familyName">Family Name</label>
              <input id="familyName" name="familyName" class="form-control" required
                     [(ngModel)]="newPatient.familyName" #familyName="ngModel"/>
              <small [hidden]="familyName.valid || familyName.pristine">A family name is required.</small>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="birthday">Birthday</label>
                  <input id="birthday" name="birthday" placeholder="dd/mm/yyyy" class="form-control" required
                         [(ngModel)]="newPatient.birthDate" #birthday="ngModel"/>
                </div>
                <small [hidden]="birthday.valid || birthday.pristine">Birthday is required.</small>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <select id="gender" class="form-control">

                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          Contact
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="mobilePhone">Mobile Phone</label>
              <input id="mobilePhone" name="mobilePhone" class="form-control" [(ngModel)]="newPatient.mobilePhone.value"/>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" name="email" class="form-control" [(ngModel)]="newPatient.email.value"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg">
      <button class="btn btn-primary mr-3" (click)="savePatient()">Save</button>
      <button class="btn btn-secondary">Cancel</button>
    </div>
  </div>

</div>
