<app-page-header pageTitle="{{pageTitle}}"></app-page-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg"></div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="card">
        <div class="card-header">
          Basic
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>Given Names</label>
              <input class="form-control"/>
            </div>
            <div class="form-group">
              <label>Family Name</label>
              <input class="form-control"/>
            </div>
            <div class="form-group">
              <label>Date of Birth</label>
              <input placeholder="dd/mm/yyyy" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Gender</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg"></div>
  </div>
</div>
