<div class="side-header" routerLink="/">
  <h4>Dermal</h4>
</div>

<nav class="side-nav">

  <div class="nav-link d-flex align-items-center" routerLink="home" routerLinkActive="active">
    <div class="icon" [inlineSVG]="'assets/svg/sprites.svg#home'"></div>
    Dashboard
  </div>

  <div class="nav-link d-flex align-items-center" routerLink="patients" routerLinkActive="active">
    <div class="icon" [inlineSVG]="'assets/svg/sprites.svg#patients'"></div>
    Patients
  </div>

  <div class="nav-link d-flex align-items-center" routerLink="billing" routerLinkActive="active">
    <div class="icon" [inlineSVG]="'assets/svg/sprites.svg#billing'"></div>
    Billing
  </div>

  <div class="nav-link d-flex align-items-center">
    <div class="icon" [inlineSVG]="'assets/svg/sprites.svg#appointments'"></div>
    Appointments
  </div>

  <div class="nav-link d-flex align-items-center">
    <div class="icon" [inlineSVG]="'assets/svg/sprites.svg#settings'"></div>
    Settings
  </div>

</nav>
<router-outlet></router-outlet>

<div class="side-footer"></div>
