@import "../assets/styles/variables";

$side-header-color: $grey-200;
$side-nav-color: $grey-50;
$side-nav-font-color: $grey-800;
$side-footer-color: $grey-200;
$side-divider-color: $grey-300;
$side-header-font-color: $grey-800;

.side-nav {
  width: 200px;
  position: fixed;
  left: 0;
  background-color: $side-nav-color;
  height: 100%;
  border-right: 1px solid $side-divider-color;
}

.side-header {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  background-color: $side-header-color;
  border-right: 1px solid $side-divider-color;
  border-bottom: 1px solid $side-divider-color;
  width: 200px;

  h4 {
    color: $side-header-font-color;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-family: $title-font-family;
  }
}

.side-footer {
  width: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: $side-footer-color;
  border-top: 1px solid $side-divider-color;
  border-right: 1px solid $side-divider-color;
}

.nav-link {
  border-left: 4px solid transparent;
  color: $side-nav-font-color;
  padding: 10px 14px;
  font-size: 18px;
  &:hover {
    background-color: $grey-200;
    border-left: solid 4px map_get($theme-colors, primary);
    color: map_get($theme-colors, primary);
  }
  &.active {
    border-left: solid 4px map_get($theme-colors, primary);
    color: map_get($theme-colors, primary);
  }
}
