@import "../assets/styles/variables";

.side-nav {
  width: 200px;
  position: fixed;
  left: 0;
  background-color: $side-nav-color;
  height: 100%;
}

.side-header {
  position: fixed;
  left: 0;
  top: 0;
  height: 60px;
  background-color: $side-header-color;
  margin-bottom: 60px;
  width: 200px;

  h4 {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-family: 'Ubuntu', sans-serif;
  }
}

.side-footer {
  width: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: $side-footer-color;
}

hr{
  border-top: 1px solid $side-divider-color;
  margin: 0;
}
