<ng-container *ngIf="editingAllergy; then editAllergy else viewAllergy"></ng-container>

<ng-template #viewAllergy>
  <div class="card">
    <div class="card-header">
      Allergies
      <a [routerLink]="" class="float-right" (click)="addAllergy()">edit</a>
    </div>
    <div class="card-body">
      Allergy status not recorded.
    </div>
  </div>
</ng-template>

<ng-template #editAllergy>
  <div class="card">
    <div class="card-header">
      Editing Allergy
      <button class="btn btn-secondary btn-sm float-right">Add Allergy</button>
    </div>
    <div class="card-body">
      <form class="edit-form">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span>Nil known drug allergies</span>
        </label>

        <div class="card-btn-container d-flex flex-row mt-2">
          <button class="save-btn">Save</button>
          <button class="cancel-btn" (click)="editingAllergy=!editAllergy">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #typeAheadTemplate let-r="result" let-t="term">
  {{r.display}}
</ng-template>
