@import '../../../../assets/styles/variables';

h4 {
  background-color: map_get($theme-colors, primary);

}

.view-row {
  margin-bottom: 0.1em;
  label {
    padding: 0;
  }
  input {
    padding: 0;
    width: 100%;
  }
}

.section-primary {
  background-color: map_get($theme-colors, primary);
  width: auto;
  padding: 1px 22px;
  display: inline-block;
  font-size: 18px;
  color: white;
}

.typeahead-dropdown {

}

.problem {
  background-color: $grey-200;
  font-weight: 400;

}

.condition {
  padding: 4px 10px;
  cursor: pointer;
  font-weight: 400;
  color: $light-blue-600;
}
