@import '../node_modules/sass-material-design-colors/palette.scss';
// Fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
// Custom variables
@import 'assets/styles/variables';
// Bootstrap SCSS
@import '~bootstrap/scss/bootstrap.scss';
// Custom overrides
@import 'assets/styles/list-group';

body {
  padding-top: 50px;
  padding-left: 200px;
  background-color: #EFF3F6;
}

.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}

.icon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
  }
}

.page-header-icon {
  width: 22px;
  height: 22px;
  svg {
    width: 22px;
    height: 22px;
    fill: white;
  }
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}

.card-header {
  padding: 0.4em 0.8em;
  border-bottom: solid 1px map_get($theme-colors, primary);
  font-weight: 500;
  background-color: white;
}

.card-body {
  padding: 0.4em 1em;
}

.no-padding {
  padding: 0;
}

.dropdown-menu{
  background-color: black;
  width: 300px;
  margin: 0;
  padding: 0;
}


/* You can add global styles to this file, and also import other style files */
