@import '../node_modules/sass-material-design-colors/palette.scss';
// Fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
// Custom variables
@import 'assets/styles/variables';
// Bootstrap SCSS
@import '~bootstrap/scss/bootstrap.scss';
// Custom overrides
@import 'assets/styles/list-group';
@import 'assets/styles/cards.scss';
// My styles
@import 'assets/styles/buttons.scss';
@import 'assets/styles/page-header.scss';
@import 'assets/styles/forms.scss';
@import 'assets/styles/floating-controls.scss';

body {
  padding-top: 50px;
  padding-left: 200px;
  background-color: #EFF3F6;
}

.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}

.icon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
  }
}

.banner-icon {
  height: 20px;
  width: 25px;
  color: $grey-500;
  svg {
    width: 25px;
    height: 20px;
    fill: currentColor;
  }
  &.male {
    color: $blue-700;
  }
  &.female {
    color: $purple-700;
  }
}

.section-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  svg {
    ellipse {
      fill: blue;
    }
    width: 24px;
    height: 24px;
  }
}

.no-padding {
  padding: 0;
}

/* You can add global styles to this file, and also import other style files */
