@import "~sass-material-design-colors/palette.scss";

$label-margin: -8px;

.has-value {
  top: $label-margin;
  opacity: 1;
  display: block!important;
  position: absolute;
}

.floating-field {
  position: relative;
  > {
    label {
      position: absolute;
      top: $label-margin;
      color: #428bca;
      font-size: 0.8em;
    }
    input {
      border: 0;
      padding: 0.1em 0 !important;
      box-shadow: none !important;
      border-radius: 0;
      border-bottom: 1px solid $grey-400;
      margin-top: $label-margin *-1;
      width: 100%;
      &:focus{
        outline: none;
      }
    }
  }
}
