@import '~sass-material-design-colors/palette.scss';

.edit-form {
  .form-group {
    margin-bottom: 0.6em;
  }

  select.form-control:not([size]):not([multiple]){
    height: 32px;
    padding: 4px 12px;
    border: none;
    background-color: $grey-100;
  }

  input {
    padding: 4px 12px;
    border: none;
    background-color: $grey-100;
    &:focus{
      background-color: $grey-100;
    }
  }

  label {
    margin-bottom: 0;
    color: $grey-700;
    font-size: 1em;
  }
}
