@import '~sass-material-design-colors/palette.scss';
@import 'colors';
@import 'variables';

$action-icon-size: 28px;
$close-tab-icon-size: 16px;
$face-sheet-icon-size: 18px;

$notification-icon-size: 16px;

.action-icon {
  cursor: pointer;
  fill: white;
  color: $dark-grey;
  width: $action-icon-size;
  height: $action-icon-size;
  stroke: $grey-400;
  svg {
    width: $action-icon-size;
    height: $action-icon-size;
  }
}

.close-tab-icon{
  position: relative;
  bottom: 1px;
  fill: transparent;
  color: $grey-500;
    width: $close-tab-icon-size;
    height: $close-tab-icon-size;
    svg {
      width: $close-tab-icon-size;
      height: $close-tab-icon-size;
    }
  &:hover{
    fill: $red-800;
    color: white
  }
}

.face-sheet-icon{
  width: $face-sheet-icon-size;
  height: $face-sheet-icon-size;
  fill: $dark-grey;
  color: $dark-grey;
  svg {
    width: $face-sheet-icon-size;
    height: $face-sheet-icon-size;
  }
}

.icon-enrolled{
  width: $notification-icon-size;
  height: $notification-icon-size;
  fill: red;
  stroke: transparent;
  color: white;
  svg{
    fill: $green-300;
    stroke: transparent;
    width: $notification-icon-size;
    height: $notification-icon-size;
  }
}

.page-header-icon {
  width: 22px;
  height: 22px;
  svg {
    width: 22px;
    height: 22px;
    fill: white;
  }
}

.side-nav-icon {
  svg {
    fill: currentColor;
    margin-right: 10px;
    width: 22px;
    height: 22px;
  }
  stroke: transparent;
  width: 22px;
  height: 22px;
  fill: currentColor;
}
