
.list-group-item {
  padding: 0.4em 0.8em;
  &:last-child {
    border-radius: 2px;
    border-bottom: none;
  }
  &:first-child {
    border-radius: 2px;
    border-top: none;
  }
  &:focus{
    outline: none;
  }
  &.active{
    border-left: 4px solid map_get($theme-colors, primary);
  }
  border-right: none;
  border-left: 4px solid transparent;
}

.list-group {
  box-shadow: 0 2px 4px rgba(0,0,0,0.14);
}
