@import "~sass-material-design-colors/palette";

$theme-colors: (
    primary: $light-blue-800,
    secondary: $grey-200,
    success: $green-200,
    info: #FBC02D,
    warning: #FF5722,
    danger: $deep-orange-700,
    light: #1B5E20,
    dark: $blue-grey-700
);
