@import "~sass-material-design-colors/palette";

$theme-colors: (
    primary: $light-blue-900,
    secondary: $grey-100,
    success: $green-200,
    info: #FBC02D,
    warning: #FF5722,
    danger: $deep-orange-700,
    light: #1B5E20,
    dark: $blue-grey-700
);

$title-font-family: 'Ubuntu', sans-serif;

$btn-border-radius: 0px;

$card-border-radius: 2px;

$card-inner-border-radius: 2px;

$card-border-width: 0;

$input-border-radius: 0px;

$input-focus-border-color: map_get($theme-colors, primary);

$input-btn-focus-box-shadow: none;


